{% extends 'base.html' %}

{% block content %}


<div id="carouselExampleCaptions" class="carousel slide mx-auto my-3" style="max-height: 70vh; max-width: 100vh; border-radius: 10px;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="max-height: 70vh; max-width: 100vh;border-radius: 10px;">
    <div class="carousel-item active">
      <img src="{{ url_for('static', filename='img/3.jpg') }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item" style="max-height: 70vh; max-width: 100vh;border-radius: 10px;">
      <img src="{{ url_for('static', filename='img/1.jpg') }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item" style="max-height: 70vh; max-width: 100vh;border-radius: 10px;">
      <img src="{{ url_for('static', filename='img/2.jpg') }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5></h5>
        <p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class = "text-center" >

<p class = "mx-5"><b>Cafe-pizza</b> -  це  приміщення, де шанувальники вишуканого смаку можуть 
  насолоджуватися вишуканими стравами та напоями, не покидаючи дому. 
  Наше меню огортає смачність та різноманіття кухні, пропонуючи онлайн-замовлення зі зручністю доставки прямо до вашого порогу.</p>
</div>

<div class="container">
    <h1>Наше місцезнаходження:</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12241.005816754567!2d24.02001635105177!3d49.83579665945664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add65bda8020b%3A0x58aa795acfabb8e4!2sCitadel%20Inn!5e0!3m2!1sru!2sua!4v1707862747190!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>




{% endblock content %}