<div class="card h-100 dark-card" style="max-width: 25rem; min-height: 30rem;">
    <img src="{{ url_for('static', filename='img/'+product[3]) }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product[1]}}</h5>
      <p class="card-text overflow-y-hidden price" style ="height: 7rem">{{product[2]}}</p>
      <p class="card-text overflow-y-hidden price mx-10" style ="height: 7rem">{{product[4]}}</p>
      <a href= "{{ url_for('order', product_id=product[0]) }}" class="btn btn-outline-light">Замовити</a>
    </div>
  </div>